.circle-loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent;
  border-top: 10px solid blue;
  border-bottom: 10px solid red;
  border-left: 10px solid green;
  border-right: 10px solid purple;
  animation: rotate 1s linear infinite;
  margin-left: 50vw;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
